/* RESET */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Background */
.login-wrapper {
    min-height: 100vh;
    background-color: #cfe4da;
}

/* Container */
.login-container {
    width: 100%;
    max-width: 360px;
}

/* Logo */
.logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

/* App Name */
.app-name {
    font-weight: 700;
    color: #000;
}

/* Card */
.login-card {
    background-color: #6fb6d6;
    border-radius: 30px 30px 0 0;
    padding: 30px 25px 40px;
}

/* Input */
.custom-input {
    border-radius: 12px;
    padding: 12px;
    font-size: 14px;
}

/* Button */
.custom-btn {
    background-color: #1f4fd8;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-weight: 600;
}

.custom-btn:hover {
    background-color: #163bb0;
}

/* Register text */
.register-text {
    font-size: 13px;
    color: #000;
}

.register-text a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
}
